# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
uploads
videos


# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!/server/routes/uploads/\[photo\].get.ts
!/server/routes/uploads/

nodjs.conf