$bg: #FFF;
$bg-card: #FFFFFF;
$accent-orange: #F2A30F;
$accent-blue: #7059FF;
$text-gray: #6a6d81;
$light-gray: #D9D9D9;
$text-main: #333D46;
$bg-input: #F0F3F7;

$nav-mobile-height: 56px;

$nav-desktop-height: 64px;

$elevation: 0 4px 12px 0 rgba(#002446,.06);