.nuxt-icon {


	svg {
		margin-bottom: 0;
		vertical-align: middle;
	}
}

.nav__logo svg {
	height: 25px !important;
	width: auto !important;
	margin-bottom: 0 !important;
}

.banner_desktop .banner__logo svg {
	height: 40px !important;
	width: auto !important;
}

.banner_mobile .banner__logo svg {
	height: 35px !important;
	width: auto !important;
}

.card__icon svg {
	height: 40px !important;
	width: auto !important;
}


.rules__icon svg {
	height: 32px !important;
	width: auto !important;
}



.advantage__icon svg {
	height: 50px !important;
	width: auto !important;
}


.footer__logo-text svg {
	height: 28px !important;
	width: auto !important;
}