//@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
//
* {
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

.v-application {
	background: $bg !important;
	color: $text-main !important;
}

.text-main {
	color: $text-main !important;
}

.text-gray {
	color: $text-gray !important;
}

.v-btn {
	text-transform: none !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	letter-spacing: 0 !important;

}

.nav__link .v-btn__content {
	text-transform: none !important;
	//font-weight: bold;
}

.wrapper, .v-toolbar__content{
	max-width: 1150px;
	overflow:visible;
	width: 100%;
	margin: 0 auto;
}

.ripple-color {
	color: rgba(0, 0, 0, 0.2);
}

.v-field--variant-solo {
	box-shadow: none !important;
}

.wrapper {
	padding: 0 16px;
}
.v-breadcrumbs {
	padding: 0 !important;
}


.tiptap {
	outline: none !important;
}



.listing-block {
	background: #FFFFFF;
	border-radius: 10px;

	@media screen and (max-width: 640px) {
		padding: 16px !important;
	}



	padding: 20px;
	margin-bottom: 20px;


	@media screen and (max-width: 600px){
		margin-left: -16px;
		margin-right: -16px;
	}

}

.listing-chips {
	margin-top: 8px;
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

//:where(.v-card, .v-alert):not(.booking__input, .nav__search, .nav__link, .room, .review) {
//	box-shadow: 0 4px 12px 0 rgba(#002446,.1) !important;
//}

.booking__input {
	background: $bg-input !important;
}

.v-infinite-scroll {
	overflow-y: inherit !important;
}


.catalog__sidebar {
	border: 1px solid #d4d2d8;
}

.filters-modal .v-card-item__content {
	overflow: visible;
}
.v-window {
	overflow-y: auto;
}

